<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8" />
    <title>Diff Report</title>
<style>
#report_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#report_table td, #report_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#report_table tr:nth-child(even){background-color: #f2f2f2;}

#report_table tr:hover {background-color: #ddd;}

#report_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>

<body>
<center>
<h1>Change Diff Report</h1>
<li><a href="#diff_link">DEVICES WITH DIFFERENCES - {{differences|length}}</a></li>
<li><a href="#nodiff_link">DEVICES WITH NO DIFFERENCES - {{no_differences|length}} </a></li>
<li><a href="#error_link">DEVICES WITH COMPARE ERRORS - {{error_state|length}}</a></li>
<br>
<br>
<a id="diff_link"><h2>DEVICES WITH DIFFERENCES ({{differences|length}})</h2></a></center>
<table id="report_table">
  <tr>
    <th>Device Name</th>  
    <th>Commander Serial Number</th>
    <th>Group</th>
    <th>Firmware</th>  
    <th>Variable Differences</th> 
    <th>Link to Diff Report</th>
  </tr>
{% for device in differences -%}
{% if device in device_dictionary -%}
  <tr>
    <td>{{device}}</td>  
    <td>{{device_dictionary[device]['pre']['serial']}}</td>
    <td>Pre: {{device_dictionary[device]['pre']['group']}}<br>Post: {{device_dictionary[device]['post']['group']}}</td>
    <td>Pre: {{device_dictionary[device]['pre']['firmware']}}<br>Post: {{device_dictionary[device]['post']['firmware']}}</td>
    <td><b>VARIABLES CHANGED:</b><br>{{var_diff[device]['variables_changed']}}<br><br><b>VARIABLES DELETED:</b><br>{{var_diff[device]['deleted_variables']}}<br><br><b>VARIABLES ADDED:</b><br>{{var_diff[device]['new_variables']}}</td>
    <td><a href ="{{device}}_diff.html">Diff Report</a></td>
  </tr>
{% else -%}
  <tr>
    <td>{{device}}</td>
    <td>error</td>
    <td>error</td>
    <td>error</td>
    <>error</td>
    <td><a href ="{{device}}_diff.html">Diff Report</a></td>
  </tr>
{% endif -%}
{% endfor -%}
</table>
<br>
<br>
<center>
<a id="nodiff_link"><h2>DEVICES WITH NO DIFFERENCES ({{no_differences|length}})</h2></a>
</center>
<table id="report_table" class="js-sort-table">
  <tr>
    <th>Device Name</th>  
    <th>Commander Serial Number</th>
    <th>Group</th>
    <th>Firmware</th>
    <th>Variable Differences</th>    
  </tr>
{% for device in no_differences -%}
{% if device in device_dictionary -%}
  <tr>
    <td>{{device}}</td>  
    <td>{{device_dictionary[device]['pre']['serial']}}</td>
    <td>Pre: {{device_dictionary[device]['pre']['group']}}<br>Post: {{device_dictionary[device]['post']['group']}}</td>
    <td>Pre: {{device_dictionary[device]['pre']['firmware']}}<br>Post: {{device_dictionary[device]['post']['firmware']}}</td>
    <td>{{var_diff[device]['variables_changed']}}<br>{{var_diff[device]['deleted_variables']}}<br>{{var_diff[device]['new_variables']}}</td>
  </tr>
{% else -%}
  <tr>
    <td>{{device}}</td>
    <td>error</td>
    <td>error</td>
    <td>error</td>
  </tr>
{% endif -%}
{% endfor -%}
</table>
<br>
<br>
<center>
<a id="error_link"><h2>DEVICES WITH AN ERROR IN COMPARISON ({{error_state|length}})</h2></a>
</center>
<table id="report_table" class="js-sort-table">
  <tr>
    <th>Device Name</th>
    <th>Variable Differences</th> 
  </tr>
{% for device in error_state -%}
  <tr>
    <td>{{device}}</td>
    <td>{{var_diff[device]['variables_changed']}}<br>{{var_diff[device]['deleted_variables']}}<br>{{var_diff[device]['new_variables']}}</td>
  </tr>
{% endfor -%}
</table>
<br>
<br>
<br>
<br>
</body>

</html>